<!DOCTYPE html>
<html>
<head>
  <title>List Product Makanan</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="title">
    </div>
      <div class="logo"><a href="/list"><img src ="images/logo.png" width="400" height="400"/></a></div>
    <div class="product-wrapper">
      <h1>List Makanan Berdasarkan Perusahaan Pembuat :</h1>
      <div class="button-list">
        <p><a href="/indofood">Indofood</a></p>
        <p><a href="/mayoran">mayoran</a></p>
        <p><a href="/garudafood">garudafood</a></p>
        <p><a href="/multibintang">multibintang</a></p>
      </div>
      </div>

      <div class="product-wrapper">
        <h1>List Makanan berdasarkan Jenis Makanan :</h1>
        <div class="button-list">
          <p><a href="/beverages">Beverages</a></p>
          <p><a href="/dairy">Dairy</a></p>
          <p><a href="/snack">Snack</a></p>
          <p><a href="/sweet">Sweet</a></p>
          <p><a href="/noodles">Noodles</a></p>
        </div>
        </div>
</body>
</html>