<!DOCTYPE html>
<html>
<head>
  <title>Kategori Noodles</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="title">
    <div class="logo"><a href="/"><img src ="images/logo.png" width="80" height="80"/></a></div>
    <h1>Noodles Product</h1></div>
    <h3>Noodles atau mie adalah jenis makanan yang terbuat dari adonan tidak beragi yang digulung rata dan dipotong, diregangkan atau diekstrusi, menjadi strip atau tali panjang. Mie dapat didinginkan untuk penyimpanan jangka pendek atau dikeringkan dan disimpan untuk digunakan di masa mendatang.</h3>
    <div class="company_name">
      <h2>Product list :</h2></div>
  <div class="product-wrapper">
    <div class="product-list">
      <% makanan.forEach(function(makanan) { %>
        <div class="product-list-card">
          <h2 class="title-font"><%= makanan.nama %></h2>
          <p class="content-font">Varian Makanan : <%= makanan.varian  %> </p>
          <h3 class="content-font">Harga: <%= makanan.harga  %> </h3>
          <img class="content-font"src ="<%= makanan.urlFoto %>" width="400" height="400"/>

          
        </div>
      <% }); %> 
    </div>
  </div>
</body>
</html>